<h1>Crear Venta</h1>

<%= form_with model: @venta, local: true do |f| %>  
	<%= f.label :detail, 'Detalle Venta'%>  
	<%= f.text_area :detail, id: :detail %>
	<%= f.label :category, 'Categoria'%>  
	<%= f.text_field :category, id: :category %>
	<%= f.label :value, 'Valor'%>  
	<%= f.number_field :value, id: :value %>
	<%= f.label :discount, 'Descuento'%>  
	<%= f.number_field :discount, id: :discount %>
	<%= f.label :tax, 'Exento de Iva?'%> 
	<%= f.check_box :tax, id: :tax %>
	<%= f.submit "Crear"%>
<% end %>

